@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.mountain1{
    position: absolute;
    bottom: -100px;
    width: 1500px;
    right: 0;
    z-index: 19;
}

.person{
    position: absolute;
    width: 650px;
    bottom: -100px;
    left: -70px;
    z-index: 20;
}

.mountain2{
    position: absolute;
    width: 1100px;
    bottom: -100px;
    left: 0;
    z-index: 18;
}

.mountain3{
    position: absolute;
    width: 900px;
    bottom: 150px;
    right: 0;
    z-index: 17;
}

.sky{
    position: absolute;
    width: 2100px;
    bottom: 250px;
    right: 0;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent)
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: rgb(2, 133, 2);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo span{
    font-weight: 300;
    color: #fff;
}


<<<<<<< Updated upstream
#side ul li
{
    list-style: none;
    margin: 30px 20px;
=======
.bar{
    position: relative;
    width: 1.2rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
>>>>>>> Stashed changes
}

#side ul li a
{
    text-decoration: none;
    color: white;
    font-weight: 1000;
}



.big-title{
    position: absolute;
    z-index: 30;
    line-height: 4rem;
    top: calc(40% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 8px rgb(29, 28, 28) ;
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img{
    width: 100%;
}

section .container > *{
    margin: 2rem;
}

.content{
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer{
    transform: translateY(50px);
}

.title{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity{
    opacity: 0;
}

.light {
  position: relative;
  width: 150px;
  height: 150px;
  background: radial-gradient(
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 0%
  );

@media (max-width: 850px){
    section .container{
        grid-template-columns: 1fr;
    }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#000, #359c71);
  border-radius: 6px;
}

@media(max-width: 600px){
    .big-title{
        font-size: 3rem
    }

    .text{
        font-size: .8rem;
    }

    .title{
        font-size: 1.2rem;
    }
}



section .stats, .shop{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 250vh;
    box-shadow: 5px 5px 20px 1px #1f1d1e;
    background: linear-gradient(rgba(236, 230, 230, 0.76), rgba(187, 184, 184, 0.212) 70%);
    background-color: rgb(241, 14, 101);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.stathead
{
    top:-150px;
    margin-top: 0rem;
    min-width: 80vw;
    min-height: fit-content;
    /*bottom: 35%;*/
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    padding-left: 2rem;
    position: relative;
    color: rgb(37, 37, 36);
    text-shadow: 2px 2px 8px rgb(129, 129, 129);



}

.statintro
{
    width: 90vw;
    margin-top: 40px;
    padding: 0 0;
    padding-right: 3%;
    text-align: justify;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgb(129, 128, 128);
    font-weight: 500;
    position: relative;
    color: rgb(37, 37, 36);
}

.statcontent
{
    padding: 5px 20px;
    margin: 50px ;
    width: 80vw;
    height: 100vh;
    border: 5px black;
    /*background: linear-gradient(135deg, rgba(255, 225, 0, 0.808), #789f0cc7); */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.63) 0%, rgba(0, 0, 0, 0.63) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;

    border: rgb(238, 218, 35);
    border-width: 5px;
    border-spacing: 15px;
    border-style: dashed;
}

.carbon, .trees, .waste
{
    display: flex;
    align-self: center;
    padding: 10px 10px;
    margin: 30px 20px;
    margin-bottom: 20px;
    height: 30%;
    width: 80%;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);

    box-shadow: 3px 3px 15px  rgb(37, 37, 37);

}

.trees
{
    right: -170px;
    position: relative;
}

#carbontxt, #treestxt, #wastetxt
{

    text-shadow: 2px 2px 15px #636060;
    color: rgb(58, 57, 57);
    top: -20px;

    font-size: 35px;
    text-align: left;
    position: relative;
    left: 5%
}
#treestxt
{
    text-align: right;
    padding-left: 5px;
}
#wastetxt
{
    font-size: 30px;
    padding-left: 10px;
    left: 0;

}

#carbontxt img, #treestxt img
{
    width: 180px;
    margin: 0 12px;
    cursor: pointer;
    top: 80px;
    position: relative;

}
#treestxt img{
    top: 10px;
}
#wastetxt img
{
    width: 180px;
    margin: 0 12px;
    cursor: pointer;
    top: 80px;
    position: relative;
}

#carbontxt span, #treestxt span, #wastetxt span
{
    bottom: 30px;
    position: relative;
    font-size: 45px;
}

#treestxt span{
    bottom:-15px;
}

#wastetxt span
{
    left: -20px;
    position: relative;
}

.shop{
    background-color: #fff;
    top:-180px;
    position: relative;
    box-shadow: 0px -15px 15px rgba(0, 0, 0, 0.562);
    border-radius: 150px;
    background-image: linear-gradient(to top, #96fbc4 0%, #fff952 100%);
}

.statfooter
{
    top:10vh;
    position: relative;
    text-align: center;
    left:7%;
    text-shadow: 2px 2px 10px rgb(10, 10, 10);
    color: wheat;
    font-size: 50px;
}

#statfoot em
{
    color: rgb(36, 35, 35);
    text-shadow: 2px 2px 15px rgb(221, 208, 30);
    font-size: 60px;
}
