<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/qfc-dark.css">
  <!-- <link rel="stylesheet" href="/css/qfc-light.css"> -->

</head>

<body>
  <div class="qfc-container">
    <h3>Tell us about your donations</h3>
    <label><b>We would request you to submit your details.</b></label>
    <form method="post" enctype="multipart/form-data">
      <div>
        <div>
            <input name="fname" placeholder="Full Name" type="text" value="Full Name">      <!-- TODO: Test Remove this later -->
        </div>
        <div>
            <input name="phone" placeholder="Phone Number" type="tel" >      <!-- TODO: Test Remove this later -->
        </div>
        <div>
            <input name="email" placeholder="Email Address" type="email">       <!-- TODO: Test Remove this later -->
        </div>
        <br><br>

        <div>
          <label><b>Country (single-select)</b></label>
          <select name="country" id>
                        <option disabled selected value="--">Select Your Country</option>
                        <option value="India">India</option>
                        <option value="United States">United States</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="China">China</option>
                        <option value="Australia">Australia</option>
                        <option value="New Zealand">New Zealand</option>
                    </select>
        </div>
        <br>
        <div>
          <label><b>Category for Donation (multi-select)</b></label>
          <select name="itemType" multiple>
                        <option value="Clothes">Clothes</option>
                        <option value="Utensils">Utensils</option>
                        <option value="Stationary">Stationary</option>
                        <option value="Electronics">Electronics</option>
                       <option value="Handlooms">Handlooms</option>
                       <option value="Blankets">Blankets</option>
                       <option value="Bedsheets">Bedsheets</option>
                       <option value="Woollens">Woollens</option>
                       <option value="Furniture">Furniture</option>
                       <option value="Toys">Toys</option>
                       <option value="Food">Food</option>
                       <option value="Dry Fruits">Dry fruits</option>


                    </select>
        </div>
        <br>
        <div>
          <label><b>Description of item for donation</b></label>
          <div>
            <textarea name="additionalDesc" placeholder="Description of item for donation."></textarea>
          </div>
        </div>
        <br>
        <div>
          <label><b>Attach file</b></label>
          <div>
            <input name="file" type="file" id>
          </div>
        </div>
        <br>
        <div>
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>
<style>
  a {
    color :#00bcd4;
    text-decoration: none;
  }
</style>
</html>
