
<div class="shop" id="4">




    <h1 class="solhead" style="font-size: 60px; text-align: center; left:20px; position: relative;">The Solution</h1>
    <p class="solpara"></p>

  <div class="container55">
    <div class="card55">
      <div class="imgBx55">
        <img src="images/shirt.png" alt="Clothing">
      </div>
      <div class="contentBx55">
        <h2>Clothing</h2>
        <p>If you wish to support a sustainable lifestyle, check out this organisation which creates clothing products from 100% recycled fabric.</p>
        <a href="https://doodlage.in/"><span>Visit Website</span></a>
      </div>
    </div>


    <div class="card55">
      <div class="imgBx55">
        <img src="images/Penstand.png" alt="Stationary">
      </div>
      <div class="contentBx55">
        <h2>Stationary</h2>
        <p>These guys are making stationery products by using the carbon content from the atmosphere and converting into ink.</p>
        <a href="https://www.graviky.com/"><span>Visit Website</span></a>
      </div>
    </div>
  </div>


<br>


  <div class="container55">



    <div class="card55">
      <div class="imgBx55">
        <img src="images/Donate.png" alt="Donate Us">
      </div>
      <div class="contentBx55">
        <h2>Donate Us</h2>
        <p>Have any goods that are not usable anymore? Donate us here!!</p>
        <a href="/donateus"><span>Fill Details</span></a>
      </div>
    </div>
  </div>



</div>
