<div class="intro">
    
        <div class="introimg"> 
            <h2>What concerns us?</h2>
            <img src="images/ok.jpg" >   
            <p class="introtxt">As children — though it depends which decade you grew up in — we often heard more about “pollution,” than we did “carbon emissions” or “greenhouse gases.” But essentially, yes, carbon emissions are a form of pollution. Carbon emissions affect the planet significantly, as they are the greenhouse gas with the highest levels of emissions in the atmosphere. This, of course, causes global warming and ultimately, climate change.<br>
                Carbon footprint, amount of carbon dioxide (CO2) emissions associated with all the activities of a person or other entity (e.g., building, corporation, country, etc.). In addition, the carbon footprint concept also often includes the emissions of other greenhouse gases, such as methane, nitrous oxide, or chlorofluorocarbons (CFCs).<br>
                Different GHGs last different amounts of time in the atmosphere. For example, fluorinated gases can last from a few weeks to a few thousand years in the atmosphere, whereas nitrous oxide can last for over a century. However, methane is somewhere in the middle, lasting a little over a decade. Carbon dioxide's lifespan cannot be calculated exactly because it does not disappear, but is either used by plants or absorbed by the ocean. There is a possibility that some greenhouse gases have been in the atmosphere since the beginning of the twentieth century, when the first signs of an increase of these gases arose.</p>
        </div>
</div>
