<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to GoGreen</title>
    <link rel="shortcut icon" href="../../favicon.ico" />
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">
    </head>
<body>
      <header>
        <nav>
            <div class="container">
                <h3 class="logo"><a href="index.html" style="color: inherit; text-decoration: none;"><span>Project </span>GREEN</h3></a>

            </div>
        </nav>

        <div id="sidenav">
            <nav id="side">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">STATS</a></li>
                    <li><a href="#">SHOP/DONATE</a></li>
                </ul>
            </nav>
        </div>
        <div id="menubtn">
            <img src="images/menu.png" id="menu">
        </div>

        <h1 class="big-title translate" data-speed="0.1">We believe, You care.</h1>

        <img src="images/person.png" class="person translate" data-speed="-0.25" alt="">
        <img src="images/mountain1.png" class="mountain1 translate" data-speed="-0.2" alt="">
        <img src="images/mountain2.png" class="mountain2 translate" data-speed="0.4" alt="">
        <img src="images/mountain3.png" class="mountain3 translate" data-speed="0.3" alt="">
        <img src="images/sky.png" class="sky translate" data-speed="0.5" alt="">
    </header>

    <div class="box"></div>
    <div class="light"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(document).on('mousemove', function(e) {
        $('.light').css({
          left: e.pageX - 70,
          top: e.pageY - 70,
        });
      });
    </script>

    <section>
        <div class="shadow"></div>

        <div class="container">
            <div class="content">
                <h3 class="title">
                    About
                    <div class="border"></div>
                </h3>
                <p class="text">Project Green is made by a team of people who are just as concerned as you are about the environment. Through this platform, we wish to motivate and inspire the society to aim towards a sustainable future. Today, we face various problems in the form of environmental degradation, but with the help of the information we provide, we want the people to know that there is still hope, and that together we can achieve what couldn’t be achieved in the past….</p>
            </div>

            <div class="imgContainer">
                <img src="images/about img.jpg" alt="">
            </div>
        </div>

        <div class="stats">
            <div class="stathead">
                <h3 >Some Statistical Data</h3>

                <p class="statintro">As children — though it depends which decade you grew up in — we often heard more about “pollution,” than we did “carbon emissions” or “greenhouse gases.” But essentially, yes, carbon emissions are a form of pollution. Carbon emissions affect the planet significantly, as they are the greenhouse gas with the highest levels of emissions in the atmosphere. This, of course, causes global warming and ultimately, climate change.</p>

                <div class="statcontent" data-aos="fade-up">
                    <div class="carbon" data-aos="fade-right">
                        <p id="carbontxt"> Daily CO<sub>2</sub> emmission<img src="images/arrow up.png" data-aos="zoom-in-right"> <span>109.6 mil ton</span></p>
                    </div>
                    <div class="trees" data-aos="fade-left">
                        <p id="treestxt" ><span>80000 acres</span><img src="images/arrow down.png" data-aos="zoom-in-left">Daily Net Deforestation</p>
                    </div>
                    <div class="waste" data-aos="fade-right">
                        <p id="wastetxt">Daily Solid Waste generation<img src="images/arrow up.png" data-aos="zoom-in-right"> <span>3.5 mil ton</span></p>
                    </div>

                </div>
                <div class="statpoints">
                    <ul type="square">
                        <li>The world generates 2.01 billion tonnes of municipal solid waste annually, with at least 33 percent of that—extremely conservatively—not managed in an environmentally safe manner.</li>
                    </ul>
                </div>

                <div class="statfooter" data-aos="zoom-in" data-aos-duration="1000">
                    <p id="statfoot">All these numbers are <em>frightening!</em><br> Whats the solution now?</p>
                </div>
            </div>

        </div>
        <div class="shop">

        </div>

    </section>

    <script>
        var menubtn= document.getElementById("menubtn")
        var sidenav= document.getElementById("sidenav")
        var menu= document.getElementById("menu")

        sidenav.style.right="-180px"
        menubtn.onclick = function() {
            if(sidenav.style.right=="-180px")
            {sidenav.style.right="0";
            menu.src = "images/close.png";}
            else{
                sidenav.style.right="-180px";
                menu.src = "images/menu.png";
            }
        }
    </script>
    <script src="jss/scrollEvent.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="jss/aos.js"></script>
    <script type="text/javascript">
        AOS.init({
            duration: 1000
        });
    </script>
</body>
</html>
